* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}


/* curatam intai elementele de decoratiuni default */

body {
    background-image: url("../images/back.jpg"); 
    background-size: 100% 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    padding: 1em;
    height: 2em;
    box-shadow: 0 0 2px black;
    /*linie umbra jos heder pe x,y  cu raza de estompare*/
    background-color: #457b9d;
}


/* scoatem partea de albastru de la butoane */

a {
    color: inherit;
}


/* dimensiunea logo imagine */

.logo img {
    width: 2em;
    height: auto;
    border-radius: 50%;
}

.header_icon_logo {
    display: none;
}

header ul li {
    /* width: calc(16% - 2px); */ /*6 butoane */
    width: calc(19% - 2px);/*5 butoane */
    float: left;
    height: 2em;
    text-align: center;
    line-height: 2em;
    /* background-color:rgb(41, 107, 21) ; */
    margin-right: 2px;
    z-index: 9999;
    /* facem meniul suprapus peste toate celelalte elemente cand coboara. Fara astea doua devine transparent sau este suprascris de alte elemente din html */
    /* ??? */
    position: relative;
}

header ul li a {
    display: block;
    user-select: none;
}

header ul li a:hover {
    opacity: 0.8;
    color: #a8dadc;
    transform: scale(1.2);
}

header ul li ul li {
    display: none;
    width: 100%;
}

header ul li:hover ul li {
    display: block;
    background-color: #457b9d;
    color: #a8dadc;
    transform: scale(1.2);
}

footer {
    box-shadow: 0 0 3px black;
    /*linie umbra jos heder pe x,y  cu raza de estompare*/
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 50px;
}
.hover-value {
    /* visibility: collapse; */
    -webkit-transition: width 2s ease-in-out;
    transition: width 3s;
    overflow: hidden;
    display: none;
    top: 0.2em;
    position: relative;
    font-size: small;
}



/* 

.formular_programare {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 0.5em;
    row-gap: 0.5em;
    grid-auto-rows: minmax(0em, auto);
    background-color: #1d3557;
    padding: 1em;
    margin: 1em;
    margin-top:3em ;
    border-radius: 0.5em;
    top: 50%;
    left: 50%;
    transform: translate( 0%, 5%);
    text-align: center;
    opacity: 0.95;
    font-size: small;
}


.formular_programare__status { 
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #a8dadc;
    
}

.formular_programare__data { 
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #a8dadc;
    

}
.formular_programare__mesaj_client { 
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    
    
}
.formular_programare__mesaj_client__txt {
    
    width: 80%;
    padding: 2em 1em;
    border-radius: 5px;
    background-color: #F1FAEE;
}
.formular_programare__mesaj_client__video, .formular_programare__mesaj_client_imagine {
    width: 10%;
    padding: 2em 1em;
    border-radius: 5px;
    background-color: #F1FAEE;
}
.formular_programare__mesaj_client__send_button, .formular_programare__mesaj_admin__send_button
{
    background-color: #E63946;
    width: 5%;
    border-radius: 5px;
}

.formular_programare__mesaj_client__send_button:hover, .formular_programare__mesaj_admin__send_button:hover {
    opacity: 0.8;
    color: #a8dadc;
    transition: .5s ease;
    transform: scale(1.1);
}

.formular_programare__mesaj_admin{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 7;
    display: flex;
    justify-content: right;
    padding: 1em;
    
}
.formular_programare__mesaj_admin textarea
{
    width: 80%;
    padding: 2em 1em;
    border-radius: 5px;
    background-color: #F1FAEE;
}

.formular_programare__piese_necesare
{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 7;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    
}



.formular_programare__piese_necesare .formular_programare__piese_necesare__brand{
    width: 15%;
    background-color: #A8DADC;
    float: left;
}
.formular_programare__piese_necesare .formular_programare__piese_necesare__cateorie{
    width: 20%;
    background-color: #A8DADC;
    float: left;
}
.formular_programare__piese_necesare .formular_programare__piese_necesare__piesa{
    width: 20%;
    background-color: #A8DADC;
    float: left;
}
.formular_programare__piese_necesare .formular_programare__piese_necesare__cantitate{
    width: 5%;
    background-color: #A8DADC;
    text-align: center;
    float: left;
}
.formular_programare__piese_necesare .formular_programare__piese_necesare__adauga
{
    width: 10%;
    background-color: #E63946;
    border-radius: 5px;
    float: right;
    transition: .3s ease;
    font-family: Arial;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.formular_programare__piese_necesare .formular_programare__piese_necesare__adauga:hover {
    opacity: 0.8;
    color: #a8dadc;
    transition: .5s ease;
    transform: scale(1.1);
}

.formular_programare__piese_necesare .formular_programare__piese_necesare__brand, 
.formular_programare__piese_necesare .formular_programare__piese_necesare__cateorie,
.formular_programare__piese_necesare .formular_programare__piese_necesare__piesa,
.formular_programare__piese_necesare .formular_programare__piese_necesare__cantitate,
.formular_programare__piese_necesare .formular_programare__piese_necesare__adauga
{
    display: inline-block;
    padding: 0.5em;
}

.formular_programare__piese_necesare table
{

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 8;
    padding: 1em;
}

.formular_programare__piese_necesare td, th
{
    border: 1px solid #F1FAEE;
    text-align: left;
    padding: 0.5em;
}

.formular_programare__piese_necesare tr:nth-child(even) 
{
    background-color: #F1FAEE;
}

.formular_programare__actiune 
{
    grid-column-start: 1;
    grid-column-end: 8;
}
.formular_programare__actiune__accepta_button,
.formular_programare__actiune__terminat_button
{
    background-color: #caffbf;
}
.formular_programare__actiune__respinge_button,
.formular_programare__actiune__sterge_button
{
    background-color: #E63946;
}

.formular_programare__actiune .formular_programare__actiune__accepta_button,
.formular_programare__actiune .formular_programare__actiune__respinge_button,
.formular_programare__actiune .formular_programare__actiune__terminat_button,
.formular_programare__actiune .formular_programare__actiune__sterge_button
{
    width: 10%;
    border-radius: 5px;
    transition: .3s ease;
    font-family: Arial;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5em;
}


.formular_programare__actiune .formular_programare__actiune__accepta_button:hover,
.formular_programare__actiune .formular_programare__actiune__respinge_button:hover,
.formular_programare__actiune .formular_programare__actiune__terminat_button:hover,
.formular_programare__actiune .formular_programare__actiune__sterge_button:hover
{
    opacity: 0.8;
    color: #a8dadc;
    transition: .5s ease;
    transform: scale(1.1);
    
} */



@media (max-width :600px) {
    .header_text {
        display: none;
    }
    
    .hover-value {
        top: 0.1em;
        font-size: x-small;
    }
    /* .formular_programare {
        font-size: x-small;
    }
    .formular_programare__piese_necesare table
    {
        padding: 0.5em;
    }
    .formular_programare__piese_necesare td, th
    {
        padding: 0em;
    } */
}




@media (max-width :400px) {
    .header_icon_logo {
        display: inline;
    }
    .logo img {
        display: none;
    }

    /* .formular_programare {
        font-size: xx-small;
        gap: 0em;
        padding: 0em;
        margin: 0em;
    }
    .formular_programare__piese_necesare table
    {
        padding: 0em;
    }
    .formular_programare__actiune .formular_programare__actiune__accepta_button,
    .formular_programare__actiune .formular_programare__actiune__respinge_button 
    {
        padding: 0em;
    } */
    
}

/* 

@media (max-height :600px) {
    .formular_programaree__calendar__inside {
        gap: 0em;
        padding: 0em;
    }
    .formular_programaree__calendar__inside__hours_btn button[id$='_col7'],
    button[id$='_col8'],
    button[id$='_col9'],
    button[id$='_col10'],
    button[id$='_col11'],
    button[id$='_col12'] {
        display: none;
    }

    
    .formular_programaree__calendar__inside__down_btn,
    .formular_programaree__calendar__inside__up_btn {
        display: block;
    }
    footer {
        display: none;
    }
    .formular_programare {
        font-size: x-small;
    }
    .formular_programaree__calendar__month {
        font-size: x-small;
    }
    .hover-value {
        top: 0em;
        font-size: xx-small;
    }
    .formular_programaree__calendar__inside__head {
        background-color: #457b9d ;
        font-weight: bold;
    }
}

@media (max-height: 400px) {
    .formular_programaree__calendar {
        letter-spacing: 0em;
    }
    .formular_programare {
        column-gap: 0em;
        row-gap: 0em;
        padding: 0em;
        margin: 0em;
        border-radius: 0em;
    }
    .formular_programare__btn .formular_programare__btn__btn1,
    .formular_programare__btn__btn2,
    .formular_programare__btn__btn3 {
        padding: 0em;
        margin: 0em;
        width: 25%;
    }
    .formular_programaree__calendar__inside__hours_btn {
        padding: 0em;
        margin: 0em;
        font-size: xx-small;
    }
    .formular_programaree__calendar__inside__head {
        padding: 0em;
        font-size: x-small;
        background-color: #457b9d ;
    }
    .formular_programaree__calendar__month {
        font-size: x-small;
    }
} */