* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}


/* curatam intai elementele de decoratiuni default */

body {
    background-image: url("../images/back.jpg"); 
    background-size: 100% 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    padding: 1em;
    height: 2em;
    box-shadow: 0 0 2px black;
    /*linie umbra jos heder pe x,y  cu raza de estompare*/
    background-color: #457b9d;
}


/* scoatem partea de albastru de la butoane */

a {
    color: inherit;
}


/* dimensiunea logo imagine */

.logo img {
    width: 2em;
    height: auto;
    border-radius: 50%;
}

.header_icon_logo {
    display: none;
}

header ul li {
    /* width: calc(16% - 2px); */ /*6 butoane */
    width: calc(19% - 2px);/*5 butoane */
    float: left;
    height: 2em;
    text-align: center;
    line-height: 2em;
    /* background-color:rgb(41, 107, 21) ; */
    margin-right: 2px;
    z-index: 9999;
    /* facem meniul suprapus peste toate celelalte elemente cand coboara. Fara astea doua devine transparent sau este suprascris de alte elemente din html */
    /* ??? */
    position: relative;
}

header ul li a {
    display: block;
    user-select: none;
}

header ul li a:hover {
    opacity: 0.8;
    color: #a8dadc;
    transform: scale(1.2);
}

header ul li ul li {
    display: none;
    width: 100%;
}

header ul li:hover ul li {
    display: block;
    background-color: #457b9d;
    color: #a8dadc;
    transform: scale(1.2);
}

footer {
    box-shadow: 0 0 3px black;
    /*linie umbra jos heder pe x,y  cu raza de estompare*/
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 50px;
}
.hover-value
{
    /* visibility: collapse; */
    -webkit-transition: width 2s ease-in-out;
    transition: width 3s;
    overflow: hidden;
    display: none;
    top: 0.2em;
    position: relative;
    font-size: small;
}

.admin-stoc
{
    background-color: #1d3557;
    padding: 1em;
    margin: 1em;
    margin-top:3em ;
    border-radius:1em;
    /* top: 50%;
    left: 50%; */
    transform: translate( 0%, 5%);
    opacity: 0.95;
    font-size: medium;
    /* color: #a8dadc; */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr); */
    /* column-gap: 1em;
    row-gap: 1em; */
}
.admin-stoc__filtrare
{
    /* grid-area: 1 / 1 / 2 / 4; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
/* .admin-stoc__tabel
{
    grid-area: 2 / 1 / 6 / 4;
} */

/* .admin-stoc__filtrare__brand,
.admin-stoc__filtrare__categorie,
.admin-stoc__filtrare__piesa
{
    padding: 1em;
    width: auto;
} */

.admin-stoc__filtrare__brand select,
.admin-stoc__filtrare__categorie select,
.admin-stoc__filtrare__piesa select,
.admin-stoc__filtrare__numar-randuri select,
.admin-stoc__filtrare__cauta input
{
    padding: 1em;
    background-color: #A8DADC;
}

.admin-stoc__tabel table
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 1em;
    background-color: #F1FAEE;
    margin: 0;
}
.admin-stoc__tabel thead{
    background-color: #a8dadc;
}
.admin-stoc__tabel td, th
{ 
    border: 1px solid #E63946;
    text-align: left;
    padding: 0.5em;
    margin: 0em;
}


.admin-stoc__tabel tr:nth-child(even) 
{
    background-color: #a8dadc;
}

.admin-stoc__tabel tr td
{
    align-items: center;
}

.admin-stoc__tabel__stoc-actiune__aduna,
.admin-stoc__tabel__stoc-actiune__scade,
.admin-stoc__tabel__rezervat-actiune__aduna,
.admin-stoc__tabel__rezervat-actiune__scade,
.admin-stoc__tabel-button__stanga,
.admin-stoc__tabel-button__dreapta
{
    border-radius: 5px;
    transition: .3s ease;
    font-family: Arial;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5em;
    margin-left: 2em;
}

.admin-stoc__tabel-button
{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
}
.admin-stoc__tabel-button__stanga,
.admin-stoc__tabel-button__dreapta
{
    width: 30%;
}


.admin-stoc__tabel__stoc-actiune__scade,
.admin-stoc__tabel__rezervat-actiune__scade{
    margin-left: 0;
}

.admin-stoc__tabel__stoc-actiune__aduna:hover,
.admin-stoc__tabel__stoc-actiune__scade:hover,
.admin-stoc__tabel__rezervat-actiune__aduna:hover,
.admin-stoc__tabel__rezervat-actiune__scade:hover,
.admin-stoc__tabel-button__stanga:hover,
.admin-stoc__tabel-button__dreapta:hover
{
    opacity: 0.8;
    color: #1D3557;
    transition: .5s ease;
    transform: scale(1.1);
}


.admin-stoc__tabel__stoc-actiune__aduna,
.admin-stoc__tabel__rezervat-actiune__aduna
{
    background-color: #A8DADC;
}
.admin-stoc__tabel__stoc-actiune__scade,
.admin-stoc__tabel__rezervat-actiune__scade
{
    background-color: #E63946;
}



/*
.stoc__filtrare__export
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.stoc__filtrare__import
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}


.stoc__filtrare__import__txt,
.stoc__filtrare__export__txt
{ 
    margin-top: 1em;
}



.stoc__filtrare__import__categorie select,
.stoc__filtrare__export__categorie select,
.stoc__filtrare__import__format select,
.stoc__filtrare__export__format select
{ 
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    width: 100%;
    background-color: #F1FAEE;
}

.stoc__filtrare__import__file
{ 
    margin-top: 1em;
    padding: 1em;
    width: 100%;
} 

.stoc__filtrare__import__button button,
.stoc__filtrare__export__button button
{ 
    width: 20%;
    border-radius: 5px;
    transition: .3s ease;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1em;
    padding: 1em;
    background-color: #F1FAEE;
} 

.stoc__filtrare__import__button button:hover,
.stoc__filtrare__export__button button:hover
{ 
    opacity: 0.8;
    color: #a8dadc;
    transition: .5s ease;
    transform: scale(1.1);
} 







@media (max-width :600px) {
    .header_text {
        display: none;
    }
    
    .hover-value {
        top: 0.1em;
        font-size: x-small;
    }
    .stoc__filtrare {
        font-size: small;
        padding: 0.5em;
    }
    .stoc__filtrare__import__txt,
    .stoc__filtrare__export__txt,
    .stoc__filtrare__import__categorie select,
    .stoc__filtrare__export__categorie select,
    .stoc__filtrare__import__format select,
    .stoc__filtrare__export__format select,
    .stoc__filtrare__import__button button,
    .stoc__filtrare__export__button button,
    .stoc__filtrare__import__file

    {
        padding: 0.5em;
        margin-top: 0.5em;
    }
}




@media (max-width :400px) {
    .header_icon_logo {
        display: inline;
    }
    .logo img {
        display: none;
    }
    .stoc__filtrare {
        font-size: x-small;
        padding: 0em;
    }
    .stoc__filtrare__import__txt,
    .stoc__filtrare__export__txt,
    .stoc__filtrare__import__categorie select,
    .stoc__filtrare__export__categorie select,
    .stoc__filtrare__import__format select,
    .stoc__filtrare__export__format select,
    .stoc__filtrare__import__button button,
    .stoc__filtrare__export__button button,
    .stoc__filtrare__import__file
    {
        padding: 0em;
        margin-top: 0em;
    }
    
}  */
